*/__pycache__
**/__pycache__/
*/*.pyc
*.egg-info
dist
build
*.egg
*.log
*.bak
*.tmp
*.swp
.DS_Store
.pytest_cache/
display/__pycache__/*
data/*
local_config
local_config/*
display_router.db
local_config/display_router.db
local_config/admin_token.txt
local_config/admin_token.json
